
		<main class="row">							
		</main>
		<div class="modal" id="modal-2">
			<div id="formPost" class="modal-content">
				<input type="text" id="name" placeholder="Escribe el nombre de usuario">
				<input type="text" id="password" placeholder="Escribe la contraseña">
				<button id="send" class="button modal-close" data-identify="">Ingresar</button>
				<span id="error-msg"></span>
			</div>	
		</div>

	
